<div class="items__list">
  @for (item of items(); track item.id) {
    <article
      class="item"
      [class.item--selected]="selectable() && selectedIds().has(item.id)">
      <div class="item__main">
        @if (selectable()) {
          <mat-checkbox
            class="item__select"
            [checked]="selectedIds().has(item.id)"
            (change)="selectionToggle.emit(item.id)"
            [attr.aria-label]="'Select ' + item.itemName">
          </mat-checkbox>
        }
        <div class="item__label">
          @if (item.itemNumber) {
            <span class="item__num">{{ item.itemNumber }}</span>
          }
          <span class="item__name">{{ item.itemName }}</span>
        </div>
        <div class="item__pricing">
          <span class="item__price">{{ item.price | currency }}</span>
          @if (item.discount) {
            <span class="item__discount">−{{ item.discount | currency }}</span>
          }
        </div>
      </div>

      @if (members().length > 0) {
        <div class="item__assign" role="group" aria-label="Assigned members">
          @if (item.assignedMemberIds.length === 0) {
            <mat-chip disableRipple class="item__assign-empty">Unassigned</mat-chip>
          }
          @for (name of item.assigneeNames; track $index; let i = $index) {
            @if (editable()) {
              <mat-chip
                (removed)="assignmentRemove.emit({ item, memberId: item.assignedMemberIds[i] })">
                {{ name }}
                <button matChipRemove [attr.aria-label]="'Remove ' + name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            } @else {
              <mat-chip disableRipple>{{ name }}</mat-chip>
            }
          }
          @if (editable()) {
            @let available = availableMembers(item);
            @if (available.length > 0) {
              <button
                mat-icon-button
                class="item__assign-add"
                aria-label="Add member to this item"
                [matMenuTriggerFor]="assignMenu">
                <mat-icon>add</mat-icon>
              </button>
              <mat-menu #assignMenu="matMenu">
                @for (m of available; track m.id) {
                  <button mat-menu-item (click)="assignmentAdd.emit({ item, memberId: m.id })">
                    {{ m.displayName }}
                  </button>
                }
              </mat-menu>
            }
          }
        </div>
      }
    </article>
  }
</div>
